
<%= render 'layouts/page_title', title: "Volunteers" %>

<div class="container mt-[90px] mb-[30px] mx-auto">

  <div id="volunteers" class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
    <% if @volunteers.any? %>
      <% @volunteers.each do |volunteer| %>
        <div class="space-x-12">
          <%= render 'volunteer_card', volunteer: volunteer %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No volunteers found.</p>
    <% end %>
  </div>

  <%= paginate @volunteers %>
</div>
