<div class="comment pb-[10px] mb-[10px] border-b-1 border-[#F1F1F1] ">

  <h3 class="f-roboto text-[#222E35] font-bold text-lg"> <%= comment.username %> <span class="text-[#9C9C9C] text-xs"> <%= comment.created_at.strftime("%d.%m.%Y %H:%M") %> </span> </h3> 
  <p class="text-[#9C9C9C] text-sm mb-[16px]"> <%= comment.email %> </p>
  <p class="text-[#9C9C9C] text-sm mb-[16px]"> <%= comment.content %> </p>

</div>