
<%= render 'layouts/page_title', title: "Search: #{truncate(params[:query], length: 30)}" %>

<div class="container pt-[90px] pb-[60px] mx-auto">
  <% if @results.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <% @results.each do |result| %>
        <% case result.class.name %>
          <% when "Cause" %>
            <%= render partial: "causes/cause", locals: { cause: result } %>
          <% when "Volunteer" %>
            <%= render partial: "volunteers/volunteer_card", locals: { volunteer: result } %>
        <% end %>
      <% end %>
    </div>
  <% elsif params[:query].present? %>
    <p class="text-center my-10">Nothing found for the query: <%= truncate(params[:query], length: 30)%> </p>
  <% else %>
    <p class="text-center my-10">Nothing found</p>
  <% end %>
  
</div>



