
<div class="header">
  <div class="header-bg relative bg-[url('/assets/header-bg.jpg')] bg-cover bg-center bg-no-repeat min-h-[200px]">
    <div class="absolute inset-0 bg-white/85 z-0"></div>

    <div class="container relative z-10 mx-auto flex justify-center items-center px-[15px] min-h-[200px]">
      <h2 class="f-roboto uppercase text-[40px] z-10 font-bold text-center">Causes List View</h2>
    </div>
  </div>
</div>

<div class="causes container pt-[90px] pb-[60px]">

  <% if @causes.any? %>
    <% @causes.each do |cause| %>
      <%= render cause %> 
    <% end %>
  <% else %>
    <p class="text-gray-500 text-center my-10">No causes found.</p>
  <% end %>

</div>









