
<%= render 'layouts/page_title', title: "Causes" %>

<div class="causes container pt-[90px] pb-[60px] mx-auto">

  <% if @causes.any? %>
    <% @causes.each do |cause| %>
      <%= render cause %> 
    <% end %>
  <% else %>
    <p class="text-gray-500 text-center my-10">No causes found.</p>
  <% end %>

</div>









