<%= render 'layouts/page_title', title: "Contact" %>

<div class="container py-[90px] px-[15px] mx-auto">

<p class="text-[#747474] text-base text-center max-w-[800px] mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknownto</p>

<div class="map-container, my-13">
  <div
    data-controller="google-map"
    data-google-map-lat-value="50.4501"
    data-google-map-lng-value="30.5234"
    style="height: 400px; width: 100%;">
  </div>
</div>

<div class="addresses">
  <h2 class="text-3xl text-[#23282A] font-bold f-roboto mb-9">Address</h2>

  <div class="flex gap-3 mb-4">
    <div class="icon w-16 h-16 bg-[#EB5310] rounded-full flex-shrink-0"></div>
    <div class="content flex flex-col">
      <h4 class="font-bold uppercase mb-2.5 f-roboto">Address</h4>
      <p class="text-[#9C9C9C] ">	Address Mirpur New Bazar Road, Block-c, Uttara, Dhaka-1210</p>
    </div>
  </div>

  <div class="flex gap-3 mb-4">
    <div class="icon w-16 h-16 bg-[#EB5310] rounded-full flex-shrink-0"></div>
    <div class="content flex flex-col">
      <h4 class="font-bold uppercase mb-2.5 f-roboto">Phone</h4>
      <p class="text-[#9C9C9C] ">(732) 803-01 03</p>
      <p class="text-[#9C9C9C] ">(732) 803-01 03</p>
      <p class="text-[#9C9C9C] ">(732) 803-01 03</p>
    </div>
  </div>

  <div class="flex gap-3 mb-4">
    <div class="icon w-16 h-16 bg-[#EB5310] rounded-full flex-shrink-0"></div>
    <div class="content flex flex-col">
      <h4 class="font-bold uppercase mb-2.5 f-roboto">Email</h4>
      <p class="text-[#9C9C9C] ">info@somecompanyname.com</p>
      <p class="text-[#9C9C9C] ">info@somecompanyname2.com</p>
    </div>
  </div>

</div>

</div>
