<%= render 'layouts/page_title', title: "Contact" %>

<div class="container py-[90px] px-[15px] mx-auto">

<p class="text-[#747474] text-base text-center max-w-[800px] mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknownto</p>

</div>
