<div class="relative overflow-hidden group">
  <%= image_tag gallery_image.image, class: "w-full aspect-square object-cover px-[2px] py-[2px] transition-transform duration-500 group-hover:scale-110" %>

  <div class="absolute inset-0 bg-[#f14b05]/70 flex flex-col items-center justify-center text-white text-lg opacity-0 group-hover:opacity-100 transition-opacity duration-500">
    <h3 class="text-xl font-medium"> <%= gallery_image.title %> </h3>

    <div class="line w-[50px] h-[2px] bg-white my-[10px] "></div>
  </div>
</div>
